<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-2 left">
        <img [src]="commentDisplay?.profilePicLocation" class="img-responsive" style="max-height: 30px;" toggleFullscreen>
      </div>
      <div class="col-sm-2">
        <h4 class="card-title">{{commentDisplay?.userName}}</h4>
      </div>
      <div class="col right text-right">
        <small> {{commentDisplay?.commentDate}}</small>
      </div>
    </div>
  </div>
  <div class="card-block">

    <p class="card-text">{{commentDisplay?.comment}}</p>
  </div>
</div>
