<form [formGroup]="myForm" (ngSubmit)="onSubmit()" [ngClass]="{
        'has-danger': myForm.invalid && (myForm.dirty || myForm.touched),
        'has-success': myForm.valid && (myForm.dirty || myForm.touched)
      }">
  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('title').invalid && (myForm.get('title').dirty || myForm.get('title').touched),
        'has-success': myForm.get('title').valid && (myForm.get('title').dirty || myForm.get('title').touched)
      }">
    <label for="title" class="col-sm-4 col-form-label"><strong>Title</strong></label>
    <div class="col-sm-6">
      <input placement="bottom" ngbTooltip="The title of this memory." type="text" class="form-control" id="title" placeholder="Title"
        [ngModel]="memory?.title" formControlName="title" [ngClass]="{
        'form-control-danger': myForm.get('title').invalid && (myForm.get('title').dirty || myForm.get('title').touched),
        'form-control-success': myForm.get('title').valid && (myForm.get('title').dirty || myForm.get('title').touched)
      }">
      <div class="form-control-feedback" *ngIf="myForm.get('title').errors && (myForm.get('title').dirty || myForm.get('title').touched)">
        <p *ngIf="myForm.get('title').errors.required">Title is required</p>
        <p *ngIf="myForm.get('title').errors.titleIsAlreadyUsed">This title is already in use!</p>
      </div>
      <small *ngIf="myForm.get('title').invalid" class="form-text text-muted">Enter a title for this memory. </small>
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('description').invalid && (myForm.get('description').dirty || myForm.get('description').touched),
        'has-success': myForm.get('description').valid && (myForm.get('description').dirty || myForm.get('description').touched)
      }">
    <label for="description" class="col-sm-4 col-form-label"><strong>Description</strong></label>
    <div class="col-sm-6">
      <textarea placement="bottom" ngbTooltip="The description of this memory." type="text" class="form-control" id="description"
        placeholder="Description" [ngModel]="memory?.description" formControlName="description" [ngClass]="{
        'form-control-danger': myForm.get('description').invalid && (myForm.get('description').dirty || myForm.get('description').touched),
        'form-control-success': myForm.get('description').valid && (myForm.get('description').dirty || myForm.get('description').touched)
      }"></textarea>
      <small *ngIf="myForm.get('description').invalid" class="form-text text-muted">Enter a description for this memory. </small>
    </div>
  </div>


  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
    'has-danger': myForm.get('mediaDate').invalid,
    'has-success': myForm.get('mediaDate').valid
  }">
    <label for="mediaDate" class="col-sm-4 col-form-label"><strong>Date of Memory</strong></label>
    <div class="col-sm-5">
      <div class="input-group">
        <input class="form-control" placeholder="DD-MM-YYYY" name="mediaDate" id="mediaDate" [(ngModel)]="modelMediaDate" [maxDate]="getMaxDate()"
          [minDate]="getMinDate()" ngbDatepicker #d="ngbDatepicker" firstDayOfWeek="7" formControlName="mediaDate" [ngClass]="{
    'form-control-danger': myForm.get('mediaDate').invalid,
    'form-control-success': myForm.get('mediaDate').valid
  }">
        <div class="input-group-addon" (click)="d.toggle()">
          <img src="/systemImages/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
    'has-danger': myForm.get('tags').invalid && (myForm.get('tags').dirty || myForm.get('tags').touched),
    'has-success': myForm.get('tags').valid && (myForm.get('tags').dirty || myForm.get('tags').touched)
  }">
    <label for="tags" class="col-sm-4 col-form-label"><strong>Tags</strong></label>
    <div placement="left" [ngbTooltip]="getTags()" class="col-sm-4">

      <ss-multiselect-dropdown [texts]="tagService.multiSelectTagsTexts" [settings]="multiSelectSettings" [(options)]="tagService.multiSelectTagOptions"
        placement="top" ngbTooltip="The tags associated with this memory." formControlName="tags" [(ngModel)]="tagService.selectedTags"
        (ngModelChange)="onTagsChange($event)" class="form-control" [ngClass]="{
    'form-control-danger': myForm.get('tags').invalid && (myForm.get('tags').dirty || myForm.get('tags').touched),
    'form-control-success': myForm.get('tags').valid && (myForm.get('tags').dirty || myForm.get('tags').touched)
  }"></ss-multiselect-dropdown>

    </div>
    <button (click)="addTag()" placement="bottom" ngbTooltip="Press to add a new tag to list of tags." class="btn btn-md btn-primary"
      type="button">Add New Tag</button>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
    'has-danger': myForm.get('people').invalid && (myForm.get('people').dirty || myForm.get('people').touched),
    'has-success': myForm.get('people').valid && (myForm.get('people').dirty || myForm.get('people').touched)
  }">
    <label for="people" class="col-sm-4 col-form-label"><strong>People</strong></label>
    <div placement="left" [ngbTooltip]="getPeople()" class="col-sm-4">

      <ss-multiselect-dropdown [texts]="personService.multiSelectPeopleTexts" [settings]="multiSelectSettings" [(options)]="personService.multiSelectPersonOptions"
        placement="top" ngbTooltip="The people associated with this memory." formControlName="people" [(ngModel)]="personService.selectedPeople"
        (ngModelChange)="onPeopleChange($event)" class="form-control" [ngClass]="{
    'form-control-danger': myForm.get('people').invalid && (myForm.get('people').dirty || myForm.get('people').touched),
    'form-control-success': myForm.get('people').valid && (myForm.get('people').dirty || myForm.get('people').touched)
  }"></ss-multiselect-dropdown>

    </div>
    <button (click)="addPerson()" placement="bottom" ngbTooltip="Press to add a new person to list of people." class="btn btn-md btn-primary"
      type="button">Add New Person</button>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
    'has-danger': myForm.get('photos').invalid && (myForm.get('photos').dirty || myForm.get('photos').touched),
    'has-success': myForm.get('photos').valid && (myForm.get('photos').dirty || myForm.get('photos').touched)
  }">
    <label for="photos" class="col-sm-4 col-form-label"><strong>Photos</strong></label>
    <div placement="left" class="col-sm-4">

      <ss-multiselect-dropdown [texts]="photoService.multiSelectPhotosTexts" [settings]="multiSelectSettings" [(options)]="photoService.multiSelectPhotoOptions"
        placement="top" ngbTooltip="The photos associated with this memory." formControlName="photos" [(ngModel)]="photoService.selectedPhotos"
        (ngModelChange)="onPhotosChange($event)" class="form-control" [ngClass]="{
    'form-control-danger': myForm.get('photos').invalid && (myForm.get('photos').dirty || myForm.get('photos').touched),
    'form-control-success': myForm.get('photos').valid && (myForm.get('photos').dirty || myForm.get('photos').touched)
  }"></ss-multiselect-dropdown>

    </div>
  </div>

  <div class="form-group row col col-sm-4 offset-sm-6">
    <button *ngIf="isAddMemory()" placement="bottom" ngbTooltip="Press to clear all entered values." type="button" class="btn btn-md btn-danger"
      (click)="onClear()">Clear</button>
    <button placement="bottom" ngbTooltip="Press to save changes to the cloud." class="btn btn-md btn-primary" type="submit"
      [disabled]="!isFormValid()">{{submitType}}</button>
  </div>
</form>
<app-comment-add *ngIf="!isNewMemory()" [entity]="getConsts().MEMORY" [entityIndex]="getIndex()">
</app-comment-add>
