<div *ngIf="pagedMemories.length > 0">
  <h2 class="blog-post-title col-md-6 offset-md-2 kgn-center-text">Memories</h2>
  <div class="col-md-6 offset-md-2 kgn-center-text">
    <mat-grid-list cols="2" gutterSize="10" rows="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let memory of pagedMemories">
        <mat-grid-tile-header>
          <span mat-line>
            <a routerLinkActive="active" routerLink="/memories/memory/{{memoryService.getMode(memory)}}/{{memory.index}}">{{memory.title}}</a>
          </span>
        </mat-grid-tile-header>
        <img [alt]="memory.title" src="{{memory.mediasToDisplay &&  memory.mediasToDisplay.length > 0 && memory.mediasToDisplay[0].getSource()}}"
          class="img-responsive" style="max-height: 100%;" toggleFullscreen>
        <mat-grid-tile-footer class="row col-md-13">
            <div class="col-md-3 text-center">
                <span>
                  <a (click)="onSlideShow(memory)">Slide<br/>Show</a>
                </span>
              </div>
          <div class="col-md-6 text-center">
            <span *ngIf="memory && memory.comments &&  memory.comments.length > 0">
              <a target="_blank" href="javascript:void(0)" (click)="showComments(memory)">Comments<br/>({{memory.comments.length}})</a>
            </span>
          </div>
          <div class="col-md-3 text-center">
            <span *ngIf="checkCanDelete(memory)">
              <a (click)="onDelete(memory)">Delete</a>
            </span>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ng-template #popContent>
    <span [innerHTML]="memoryService.showSearchCriteria()"></span>
  </ng-template>

  <div *ngIf="memoryService.searchRet" class="row col offset-md-2">
    <a placement="left" [ngbPopover]="popContent" popoverTitle="Existing Search Criteria" target="_blank" href="javascript:void(0)"
      (click)="toggleShowHideSearchCriteria()">{{toggleShowHideSearchCriteriaText}}</a>
  </div>


  <div class="col-md-6 offset-md-4 text-center kgn-border-pad">
    <pagination [totalItems]="memoryService.bigTotalItems" [(ngModel)]="memoryService.bigCurrentPage" [maxSize]="memoryService.maxSize"
      class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="4" [rotate]="false" (numPages)="memoryService.numPages = $event"
      (pageChanged)="pageChanged($event)"></pagination>
  </div>



  <div *ngIf="memoryService.searchRet" class="row col col-md-4 offset-md-4">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="!memoryService.searchRet" class="row col col-md-4 offset-md-5">
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>
</div>

<div *ngIf="pagedMemories.length == 0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-center">{{getNoMemoriesText()}}</h1>
    </div>
  </div>
  <div *ngIf="memoryService.searchRet" class="row col col-md-4 offset-md-5">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
  </div>
</div>
