<form ngNativeValidate   class="col-md-10 offset-md-2" [formGroup]="myForm" (ngSubmit)="onSubmit()" [ngClass]="{
        'has-danger': myForm.invalid && (myForm.dirty || myForm.touched),
        'has-success': myForm.valid && (myForm.dirty || myForm.touched)
      }">
    <div class="form-group row" [ngClass]="{
        'has-danger': myForm.get('oldPassword').invalid && (myForm.get('oldPassword').dirty || myForm.get('oldPassword').touched),
        'has-success': myForm.get('oldPassword').valid && (myForm.get('oldPassword').dirty || myForm.get('oldPassword').touched)
      }">
        <label for="oldPassword" class="col-md-2 col-form-label">Old Password</label>
        <div class="col-md-5">
            <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" formControlName="oldPassword">
            <small *ngIf="myForm.get('oldPassword').invalid" class="form-text text-muted">Enter your existing password.</small>
        </div>
    </div>


    <div class="form-group row" [ngClass]="{
        'has-danger': myForm.get('newPassword').invalid && (myForm.get('newPassword').dirty || myForm.get('newPassword').touched),
        'has-success': myForm.get('newPassword').valid && (myForm.get('newPassword').dirty || myForm.get('newPassword').touched)
      }">
        <label for="newPassword" class="col-md-2 col-form-label">New Password</label>
        <div class="col-md-5">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password" formControlName="newPassword">
            <div class="form-control-feedback" *ngIf="myForm.get('newPassword').errors && (myForm.get('newPassword').dirty || myForm.get('newPassword').touched)">
                <p *ngIf="myForm.get('newPassword').errors.required">New Password is required</p>
                <p *ngIf="myForm.get('newPassword').errors.oneLowercase">At least one lowercase<br> letter is required.</p>
                <p *ngIf="myForm.get('newPassword').errors.oneUppercase">At least one uppercase<br> letter is required.</p>
                <p *ngIf="myForm.get('newPassword').errors.minlength">Password must be at least<br> 6 characters in length.</p>
            </div>
            <div *ngIf="myForm.get('newPassword').dirty || myForm.get('newPassword').touched">
                <password-strength-bar [passwordToCheck]="myForm.get('newPassword').value"></password-strength-bar>
            </div>
            <small *ngIf="myForm.get('newPassword').invalid" class="form-text text-muted">Enter a password. Min 6 chars at least one upper and lower case letter.</small>
        </div>
    </div>
    <div class="form-control-feedback" *ngIf="myForm.errors && (myForm.dirty || myForm.touched)">
        <p *ngIf="this.myForm.errors.matchingPasswords">Old and New Passwords must differ.</p>
    </div>

    <div class="form-group row">
        <button type="button" class="btn btn-md btn-danger offset-md-3" (click)="onClear()">Clear</button>
        <button class="btn btn-md btn-primary" type="submit" [disabled]="!isFormValid()">Change Password</button>
    </div>
</form>