<div *ngIf="users.length > 0">
  <div class="col-md-6 offset-md-2">
    <ul class="list-group">
      <app-user class="kgn-border-pad" *ngFor="let user of pagedUsers" [user]="user">
      </app-user>
    </ul>
  </div>

  <ng-template #popContent> <span [innerHTML]="userService.showSearchCriteria()"></span></ng-template>

  <div *ngIf="userService.searchRet" class="row col offset-md-2">
    <a placement="left" [ngbPopover]="popContent" popoverTitle="Existing Search Criteria" target="_blank" href="javascript:void(0)"
      (click)="toggleShowHideSearchCriteria()">{{toggleShowHideSearchCriteriaText}}</a>
  </div>


  <div class="col-md-6 offset-md-4 text-center kgn-border-pad">
    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"
      [itemsPerPage]="5" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
  </div>



  <div *ngIf="userService.searchRet" class="row col col-sm-4 offset-sm-4">
    <button placement="bottom" ngbTooltip="Press to clear search." type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
    <button placement="bottom" ngbTooltip="Press to restict user list." type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="!userService.searchRet" class="row col col-sm-4 offset-sm-5">
    <button placement="bottom" ngbTooltip="Press to restict user list." type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>
</div>

<div *ngIf="users.length == 0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-center">No Users To Display!</h1>
    </div>
  </div>
</div>
