<!-- https://scotch.io/tutorials/how-to-deal-with-different-form-controls-in-angular-2 -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" [ngClass]="{
        'has-danger': myForm.invalid && (myForm.dirty || myForm.touched),
        'has-success': myForm.valid && (myForm.dirty || myForm.touched)
      }">


  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched),
        'has-success': myForm.get('email').valid && (myForm.get('email').dirty || myForm.get('email').touched)
      }">
    <label for="email" class="col-sm-4 col-form-label"><strong>Email address</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="The user's Email address" type="email" class="form-control" id="email" placeholder="Email address" [ngModel]="user?.email" formControlName="email"
        [ngClass]="{
        'form-control-danger': myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched),
        'form-control-success': myForm.get('email').valid && (myForm.get('email').dirty || myForm.get('email').touched)
      }">
      <div class="form-control-feedback" *ngIf="myForm.get('email').errors && (myForm.get('email').dirty || myForm.get('email').touched)">
        <p *ngIf="myForm.get('email').errors.required">Email address is required</p>
        <p *ngIf="myForm.get('email').errors.pattern">A valid Email address is required.</p>
        <p *ngIf="myForm.get('email').errors.emailIsAlreadyUsed">This email is already in use!</p>
      </div>
      <small *ngIf="myForm.get('email').invalid" class="form-text text-muted">Enter a valid email address.</small>
    </div>

  </div>


  <div *ngIf="isNewUser()" class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched),
        'has-success': myForm.get('password').valid && (myForm.get('password').dirty || myForm.get('password').touched)
      }">
    <label for="password" class="col-sm-4 col-form-label"><strong>Password</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="Enter a password.<br>Min 6 chars at least one upper and lower case letter."  type="password" class="form-control" id="password" placeholder="Password" [ngModel]="user?.password" formControlName="password"
        [ngClass]="{
        'form-control-danger': myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched),
        'form-control-success': myForm.get('password').valid && (myForm.get('password').dirty || myForm.get('password').touched)
      }">
      <div *ngIf="myForm.get('password').dirty || myForm.get('password').touched">
        <password-strength-bar [passwordToCheck]="myForm.get('password').value"></password-strength-bar>
      </div>
      <div class="form-control-feedback" *ngIf="myForm.get('password').errors && (myForm.get('password').dirty || myForm.get('password').touched)">
        <p *ngIf="myForm.get('password').errors.required">Password is required</p>
        <p *ngIf="myForm.get('password').errors.oneLowercase">At least one lowercase<br> letter is required.</p>
        <p *ngIf="myForm.get('password').errors.oneUppercase">At least one uppercase<br> letter is required.</p>
        <p *ngIf="myForm.get('password').errors.minlength">Password must be at least<br> 6 characters in length.</p>
      </div>
      <small *ngIf="myForm.get('password').invalid" class="form-text text-muted">Enter a password. Min 6 chars at least one upper and lower case letter.</small>
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched),
        'has-success': myForm.get('name').valid && (myForm.get('name').dirty || myForm.get('name').touched)
      }">
    <label for="name" class="col-sm-4 col-form-label"><strong>Name</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="The name of this user." type="text" class="form-control" id="name" placeholder="Name" [ngModel]="user?.name" formControlName="name" [ngClass]="{
        'form-control-danger': myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched),
        'form-control-success': myForm.get('name').valid && (myForm.get('name').dirty || myForm.get('name').touched)
      }">
      <div class="form-control-feedback" *ngIf="myForm.get('name').errors && (myForm.get('name').dirty || myForm.get('name').touched)">
        <p *ngIf="myForm.get('name').errors.required">Name is required</p>
        <p *ngIf="myForm.get('name').errors.nameIsAlreadyUsed">This name is already in use!</p>
      </div>
      <small *ngIf="myForm.get('name').invalid" class="form-text text-muted">Enter a name for this user. </small>
    </div>
  </div>


  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('adminUser').invalid && (myForm.get('adminUser').dirty || myForm.get('adminUser').touched),
        'has-success': myForm.get('adminUser').valid && (myForm.get('adminUser').dirty || myForm.get('adminUser').touched)
      }">
    <label for="adminUser" class="col-sm-4 col-form-label"><strong>Admin?</strong></label>
    <div class="col-sm-5">
      <select placement="bottom" ngbTooltip="Is this user an admin user? Y or N?" class="form-control dropdown" [ngModel]="user?.adminUser" formControlName="adminUser" [ngClass]="{
        'form-control-danger': myForm.get('adminUser').invalid && (myForm.get('adminUser').dirty || myForm.get('adminUser').touched),
        'form-control-success': myForm.get('adminUser').valid && (myForm.get('adminUser').dirty || myForm.get('adminUser').touched)
      }">
              <option value="Yes" >Yes</option>
              <option value="No" selected>No</option>
            </select>
      <div class="form-control-feedback" *ngIf="myForm.get('adminUser').errors && (myForm.get('adminUser').dirty || myForm.get('adminUser').touched)">
        <p *ngIf="myForm.get('adminUser').errors.required">Admin User is required</p>

      </div>
      <small *ngIf="myForm.get('adminUser').invalid" class="form-text text-muted">Is this user an admin user? Y or N?</small>
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('relationship').invalid && (myForm.get('relationship').dirty || myForm.get('relationship').touched),
        'has-success': myForm.get('relationship').valid && (myForm.get('relationship').dirty || myForm.get('relationship').touched)
      }">
    <label for="relationship" class="col-sm-4 col-form-label"><strong>Relationship</strong></label>
    <div class="col-sm-5">
      <select placement="bottom" ngbTooltip="The user's relationship to Mum and Dad." class="form-control dropdown" [ngModel]="user?.relationship" formControlName="relationship" [ngClass]="{
        'form-control-danger': myForm.get('relationship').invalid && (myForm.get('relationship').dirty || myForm.get('relationship').touched),
        'form-control-success': myForm.get('relationship').valid && (myForm.get('relationship').dirty || myForm.get('relationship').touched)
      }">
              <option value="Son">Son</option>
              <option value="Daughter">Daughter</option>
              <option value="Brother">Brother</option>
              <option value="Grandaughter">Grandaughter</option>
              <option value="Great Grandaughter">Great Grandaughter</option>
              <option value="Son-In-Law">Son-In-Law</option>
            </select>
      <div class="form-control-feedback" *ngIf="myForm.get('relationship').errors && (myForm.get('relationship').dirty || myForm.get('relationship').touched)">
        <p *ngIf="myForm.get('relationship').errors.required">Relationship is required</p>
      </div>
      <small *ngIf="myForm.get('relationship').invalid" class="form-text text-muted">What is the user's relationship to Mum and Dad?</small>
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('dob').invalid,
        'has-success': myForm.get('dob').valid
      }">
    <label for="dob" class="col-sm-4 col-form-label"><strong>Date Of Birth</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="The user's date of birth." type="date" id="dob" class="form-control" placeholder="dob" [ngModel]="user?.dob" formControlName="dob" [ngClass]="{
        'form-control-danger': myForm.get('dob').invalid,
        'form-control-success': myForm.get('dob').valid
      }">
    </div>
    <small *ngIf="myForm.get('dob').invalid" class="form-text text-muted">Enter the user's date of birth.</small>
  </div>


  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('twitterId').invalid,
        'has-success': myForm.get('twitterId').valid
      }">
    <label class="col-sm-4 col-form-label"><strong>Twitter ID</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="The user's Twitter ID." type="text" id="twitterId" class="form-control" placeholder="Twitter ID" [ngModel]="user?.twitterId" formControlName="twitterId" [ngClass]="{
        'form-control-danger': myForm.get('twitterId').invalid ,
        'form-control-success': myForm.get('twitterId').valid 
      }">
    </div>
  </div>

  <div class="form-group row col col-sm-8 offset-sm-2" [ngClass]="{
        'has-danger': myForm.get('facebookId').invalid,
        'has-success': myForm.get('facebookId').valid
      }">
    <label class="col-sm-4 col-form-label"><strong>Facebook ID</strong></label>
    <div class="col-sm-5">
      <input placement="bottom" ngbTooltip="The user's Facebook ID." type="text" id="facebookId" class="form-control" placeholder="Facebook ID" [ngModel]="user?.facebookId" formControlName="facebookId" [ngClass]="{
        'form-control-danger': myForm.get('facebookId').invalid,
        'form-control-success': myForm.get('facebookId').valid
      }">
    </div>
  </div>


  <div class="form-group row col col-sm-8 offset-sm-2">
    <label for="profilePic" class="col-sm-4 col-form-label"><strong>Profile picture</strong></label>
    <div class="col col-sm-2">
      <span class="pull-right">
        <img placement="bottom" ngbTooltip="The user's profile picture." [src]="profilePicData || user?.profilePicLocation  || defaultProfilePicFile" class="img-responsive" style="max-height: 50px;">
        </span>
    </div>
    <div class="col offset-sm-1 col-sm-1">
      <label placement="right" ngbTooltip="Press to select the user's profile picture." class="btn btn-success">
          Browse
        <input  type="file" #file id="profilePicPath" class="form-control" name="profilePicPath"  style="display: none;" (change)="onImageChange(file.files)">
        </label>

    </div>
  </div>
  <div class="form-group row col col-sm-4 offset-sm-4">
    <button *ngIf="isCreateUser()" placement="bottom" ngbTooltip="Press to clear all entered values." type="button" class="btn btn-md btn-danger" (click)="onClear()">Clear</button>
    <button placement="bottom" ngbTooltip="Press to save changes to the cloud." class="btn btn-md btn-primary" type="submit" [disabled]="!isFormValid()">{{submitType}}</button>
  </div>

</form>
