<figure placement="top" [ngbTooltip]="user.description" class="figure mat-figure">
  <img [alt]="user.name" [src]="getSource()" class="figure-img img-fluid rounded img-thumbnail" toggleFullscreen
    [contextMenuSubject]="user" [contextMenu]="basicMenu">
  <figcaption class="figure-caption text-center"><a routerLinkActive="active" routerLink="/users/user/{{user.index}}">{{ user.name }}</a></figcaption>
</figure>
<context-menu>
  <ng-template contextMenuItem (execute)="deleteUser()">
    Delete User {{user?.name}}
  </ng-template>
</context-menu>
