<div class="col-sm-12 offset-sm-3">
  <h2 class="blog-post-title">Info</h2>
  <br>
  <p>
    <span class="kgn-info-normal">This site is dedicated to my much missed mum and dad, Marion and Ken Nicholls, and is a way for family members and friends</span>
    <br />
    <span class="kgn-info-normal">to add photos, group them into memories and share them with one another so we can all remember them both with love and</span>
    <br />
    <span class="kgn-info-normal">affection.</span>
  </p>
  <p>
    <br />
    <strong>
      <span class="kgn-info-heading">Logging In</span>
    </strong>
  </p>
  <p>
    <span class="kgn-info-normal">In order to view and add photos firstly you will need to
      <a routerLink="/sign-in">Sign In</a>. To do this you will need your email address and password that
    </span>
    <br />
    <span class="kgn-info-normal">should have been provided to you.</span>
  </p>
  <p>
    <span class="kgn-info-normal">Press the
      <a routerLink="/sign-in">Sign In</a> menu option.</span>
    <br />
    <br />
    <img [src]="'systemimages/signin.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
    <span class="kgn-info-normal">Enter the email address and password provided. Once you are successfully logged in you will stay </span>
    <br />
    <span class="kgn-info-normal">logged in on this browser on this device until you explicitly Log Out.</span>
  </p>
  <p>
    <span class="kgn-info-normal">&nbsp;</span>
  </p>
  <p>
    <strong>
      <span class="kgn-info-heading">Change Password</span>
    </strong>
  </p>
  <p>
    <br />
    <img [src]="'systemimages/change password.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
    <span class="kgn-info-normal">Once logged on it is best to change the password provided to you with one known only to yourself.</span>
  </p>
  <p>
    <span class="kgn-info-normal">To do this press click on your name in the top right hand corner and press the Change Password menu</span>
    <br />
    <span class="kgn-info-normal">option. Enter your existing and new password. Your new password must contain at least one lowercase and one </span>
    <br />
    <span class="kgn-info-normal">uppercase letter and be at lease 6 characters in length.</span>
  </p>
  <p>
    <br />
    <strong>
      <span class="kgn-info-heading">Edit Personal Details</span>
    </strong>
  </p>
  <p>
    <br />
    <img [src]="'systemimages/change password.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
    <span class="kgn-info-normal">Once you have changed your password you can update your personal details. For example</span>
    <br />
    <span class="kgn-info-normal">add a profile picture and correct date of birth.</span>
  </p>
  <p>
    <span class="kgn-info-normal">To do this press click on your name in the top right hand corner and press the Edit menu</span>
    <br />
    <span class="kgn-info-normal">option.</span>
  </p>
  <p>
    <br />
    <strong>
      <span class="kgn-info-heading">View Photos</span>
    </strong>
  </p>
  <p>
    <span class="kgn-info-normal">Once you have sccessfully logged in you will have access to the Photos menu option.</span>
  </p>
  <p>
    <br />
    <img [src]="'systemimages/photos.jpg'" class="img-responsive" style="max-height: 100px;">
    <img [src]="'systemimages/photos-list.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
    <span class="kgn-info-normal">To view existing photos press the Photos List menu option. This will show you </span>
    <br />
    <span class="kgn-info-normal">all of the photos currently available, split in to pages of 6 photos, in alphabetical order. </span>
    <br />
    <span class="kgn-info-normal">The pagination options at the bottom will allow you to scroll through each page in order</span>
    <br />
    <span class="kgn-info-normal">or jump to a specific page.</span>
    <br />
    <br />
    <img [src]="'systemimages/pagination.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">Clicking the title of a photo will allow you to view or edit the photo depending</span>
    <br />
    <span class="kgn-info-normal">on whether you added the photo originally or are an admin user. You will also be able view</span>
    <br />
    <span class="kgn-info-normal">and add comments relating to this photo. Clicking directly on a photo will show thatphot in </span>
    <br />
    <span class="kgn-info-normal">full screen. Click on the photo to return to normal size.</span>
    <br />
    <br />
    <img [src]="'systemimages/photo-title.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">Also, depending on whether you originally added the photo or are an admin user, there</span>
    <br />
    <span class="kgn-info-normal">will be a Delete option. This will permanently delete this photo so beware!</span>
    <br />
    <br />
    <img [src]="'systemimages/photo-delete.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">If there are any comments associated with the photo there will be an option to view these comments.</span>
    <br />
    <br />
    <img [src]="'systemimages/photo-comments.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">Next to the title there is an option to view a Slide Show. This will show a pop-up which will allow you to scroll </span>
    <br />
    <span class="kgn-info-normal">through all of the photos using the arrows. Click on the main photo to view this full screen. If a search</span>
    <br />
    <span class="kgn-info-normal">is active then only those photos restricted by the search will be shown in the slide show.</span>
    <br />
    <br />
    <img [src]="'systemimages/photos-slide-show.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">&nbsp;</span>
  </p>
  <p>
    <strong>
      <span class="kgn-info-heading">Add a Photo.</span>
    </strong>
    <br />
    <br />
    <br />
    <img [src]="'systemimages/photos.jpg'" class="img-responsive" style="max-height: 100px;">
    <img [src]="'systemimages/photos-list.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-normal">To add a new photo press the Add Photo menu option under the Photos menu.</span>
    <br />
    <span class="kgn-info-normal">You will need to add a unique title in order to identify the photo and browse for a </span>
    <br />
    <span class="kgn-info-normal">photo to upload. The rest of the fields are optional. You can associate tags and people</span>
    <br />
    <span class="kgn-info-normal">with the photo. To select an existing tag click the tag dropdown and select the tag. To add a</span>
    <br />
    <span class="kgn-info-normal">new tag to this list press the Add Tag button and enter the new tag. If you want this tag to be</span>
    <br />
    <span class="kgn-info-normal">automatically associated with this photo make sure the Auto Select Tag checkbox is checked.</span>
    <br />
    <br />
    <img [src]="'systemimages/add-tags.jpg'" class="img-responsive" style="max-height: 100px;">
    <img [src]="'systemimages/new-tag.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
    <span class="kgn-info-normal">It is a similar process to associate people with this photo.</span>
  </p>
  <p>
    <span class="kgn-info-normal">The date of the photo is the date that the photo was taken. If this is not known leave blank.</span>
  </p>
  <p>
    <span class="kgn-info-normal">If you only know the year select Jan 1st of that year. If you only know the decade then</span>
    <br />
    <span class="kgn-info-normal">select Jan 1st on the first year of that decade.</span>
  </p>
  <p>
      <br />
      <br />
      <img [src]="'systemimages/browse-photo.jpg'" class="img-responsive" style="max-height: 100px;">
      <br />
      <br />
    <span class="kgn-info-normal">There are 2 methods of selecting the photo to be uploaded. File System allows you to select</span>
    <br />
    <span class="kgn-info-normal">directly from the file system of the device you are using. A tablet or mobile device will also allow you </span>
    <br />
    <span class="kgn-info-normal">to take a photo - which is handy for your profile picture. Web allows you to choose photos directly from the</span>
    <br />
    <span class="kgn-info-normal">web or from a number of social media sites which you are a member of. Please use this option sparingly</span>
    <br />
    <span class="kgn-info-normal">as I am using the free service and the bandwidth is limited and there are a limited number of uploads a </span>
    <br />
    <span class="kgn-info-normal">month and a finite number in total.</span>
  </p>
  <p>
    <span class="kgn-info-normal">&nbsp;</span>
  </p>
  <p>
    <strong>
      <span class="kgn-info-heading">Chat Messaging</span>
    </strong>
  </p>
  <p>
    <span class="kgn-info-normal">Presing the Chat menu option will bring up the Chat screen. This will allow you to send</span>
    <br />
    <span class="kgn-info-normal">a message to all other logged in users. The message will then appear in the Messages area.</span>
    <br />
    <span class="kgn-info-normal">There is also an option to Send Location. This will send your current location to all other logged </span>
    <br />
    <span class="kgn-info-normal">in users in the form of a link which will then take them to your location highlighted on google maps.</span>
  </p>
  <p>
    <span class="kgn-info-normal">You can also send a message to a single user only. To do this click the user you want to send a </span>
    <br />
    <span class="kgn-info-normal">message to under Active Users and this will show the above screen but the message will only be</span>
    <br />
    <span class="kgn-info-normal">sent to the selected user.</span>
  </p>
  <p>
    <br />
    <strong>
      <span class="kgn-info-heading">Memories</span>
    </strong>
  </p>
  <p>
    <span class="kgn-info-normal">Memories work in a similar way to Photos the only difference being is that you can associate zero or more </span>
    <br />
    <span class="kgn-info-normal">existing photos with a memory. Each memory, once addeed, will have the option of viewing all of the </span>
    <br />
    <span class="kgn-info-normal">associated photos in a slide show.</span>
    <br />
    <br />
    <img [src]="'systemimages/memories-slide-show.jpg'" class="img-responsive" style="max-height: 100px;">
    <br />
    <br />
  </p>
  <p>
    <br />
    <strong>
      <span class="kgn-info-heading">Searching</span>
    </strong>
  </p>
  <br />
  <br />
  <img [src]="'systemimages/search-button.jpg'" class="img-responsive" style="max-height: 100px;">
  <br />
  <br />
  <p>
    <span class="kgn-info-normal">The list of memories and photos that are seen in the list option can be restricted by pressing the </span>
    <br />
    <span class="kgn-info-normal">Search button when in the List option. This will allow you to restict the number of photos or memories</span>
    <br />
    <span class="kgn-info-normal">to those which match your search criteria.</span>
  </p>
  <p>
    <span class="kgn-info-normal">How the entered search criteria restrict the memories or photos depends on the Match Criteria:</span>
    <br />
    <br />
    <img [src]="'systemimages/show-match-criteria.jpg'" class="img-responsive" style="max-height: 150px;">
    <img [src]="'systemimages/match-criteria.jpg'" class="img-responsive" style="max-height: 150px;">
    <br />
    <br />
  </p>
  <p>
    <span class="kgn-info-underline">
      <span class="kgn-info-option">
        <em>Case Sensitive</em>
      </span>
    </span>
  </p>
  <p>
    <span class="kgn-info-normal">If selected then the search will only return photos which match the case of the search criteria. The</span>
    <br />
    <span class="kgn-info-normal">default is not to restict on case.</span>
  </p>
  <p>
    <span class="kgn-info-underline kgn-info-option">
      <em>
        <span class="kgn-info-underline">Match All</span>
      </em>
    </span>
  </p>
  <p>
    <span class="kgn-info-normal">If this is checked then all entered critria must match. For example if you try and match a photo</span>
    <br />
    <span class="kgn-info-normal">with a tag of <strong>'beach'</strong> and a person of <strong>'dad'</strong> then only photos where both are present will be returned</span>
    <br />
    <span class="kgn-info-normal">(the default). If this is unchecked then photos where either are present will be returned.</span>
  </p>
  <p>
    <span sclass="kgn-info-underline kgn-info-option">
      <em>
        <span class="kgn-info-underline">Match Criteria:</span>
      </em>
    </span>
  </p>
  <p>
    <span class="kgn-info-option">
      <em>Starts With</em>
    </span>
  </p>
  <p>
    <span class="kgn-info-normal">This will match any field which starts with the entered value. For example a photo with the title <strong>'dad by the beach'</strong></span>
    <br />
    <span class="kgn-info-normal">will be matched with a search title of <strong>'dad'</strong>.</span>
  </p>
  <p>
    <span class="kgn-info-option">
      <em>Exact</em>
    </span>
  </p>
  <p>
    <span class="kgn-info-normal">This will match any field which exactly matches the entered value. For example a photo with the title <strong>'dad by the beach'</strong></span>
    <br />
    <span class="kgn-info-normal">will be matched with a search title of <strong>'dad by the beach'</strong> A search title of <strong>'dad'</strong> would not match.</span>
  </p>
  <p>
    <span class="kgn-info-option">
      <em>Contains</em>
    </span>
  </p>
  <p>
    <span class="kgn-info-normal">This will match any field which contains the entered value. For example a photo with the title <strong>'dad by the beach'</strong></span>
    <br />
    <span class="kgn-info-normal">will be matched with a search title of <strong>'dad by the beach'</strong>, <strong>'dad'</strong>, <strong>'beach'</strong>, or <strong>'by the'</strong>.</span>
  </p>
  <p>
    <span class="kgn-info-normal">Note that all of the above are amalgamated together when working out if a photo matches a search. For example,</span>
    <br />
    <span class="kgn-info-normal">in the above example, <strong>'Dad'</strong> will only match if <strong>Case Sensitive</strong> search was turned off.</span>
  </p>
  <p>
    <span class="kgn-info-normal">To change the match criteria click
      <span class="kgn-info-underline">
        <strong>
          <span class="kgn-info-normal">
            <em>Show Match Criteria</em>
          </span>
        </strong>
      </span>&nbsp;in the search dialogue.</span>
  </p>
  <p>
    <span class="kgn-info-normal">Note that any field left blank will not be used when matching and hence it is not possible to search </span>
    <br />
    <span class="kgn-info-normal">for, say, memories with no description.</span>
  </p>
</div>
