<div class="col-sm-4 offset-sm-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label placement="right" ngbTooltip="The password to encrypt." for="password">Password</label>
            <input type="text" id="password" class="form-control" formControlName="password">
            <p placement="right" ngbTooltip="The encrypted password." id="hashedPassword" class="form-control-static">{{hashedPassword}}</p>
        </div>
        <button placement="right" ngbTooltip="Click to encrypt the password." class="btn btn-primary offset-sm-4" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>