<div class="col-sm-4 offset-sm-3">
    <form ngNativeValidate   [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label  for="password">Password</label>
            <input type="text" id="password" class="form-control" formControlName="password">
            <p id="hashedPassword" class="form-control-static">{{hashedPassword}}</p>
        </div>
        <button class="btn btn-primary offset-sm-4" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>