<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Tag</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
      </div>
      <form ngNativeValidate   [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group row col col-sm-12" [ngClass]="{
        'has-success': myForm.get('tag').valid && (myForm.get('tag').dirty && isNotEmpty(myForm.get('tag').value))
      }">
            <label for="tag" class="col-sm-4 col-form-label"><strong>Tag</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                id="tag" placeholder="New Tag" formControlName="tag" [ngClass]="{
        'form-control-success': myForm.get('tag').valid && (myForm.get('tag').dirty && isNotEmpty(myForm.get('tag').value))
      }">
              <div class="form-control-feedback" *ngIf="myForm.get('tag').errors && (myForm.get('tag').dirty || myForm.get('tag').touched)">
                <p *ngIf="myForm.get('tag').errors.required">Tag is required!</p>
                <p *ngIf="myForm.get('tag').errors.tagIsAlreadyUsed">This tag is already in the database!</p>
                <p *ngIf="myForm.get('tag').errors.pattern">Tag must be alphanumeric!</p>
              </div>
              <small *ngIf="myForm.get('tag').invalid" class="form-text text-muted">Enter a tag. </small>
              
            </div>
          </div>

          <div class="form-group row col col-sm-12" [ngClass]="{
            'has-success': myForm.get('autoSelect').valid && myForm.get('autoSelect').dirty 
          }">
            <label class="custom-control custom-checkbox offset-sm-4"
              [ngClass]="{
            'form-control-success': myForm.get('autoSelect').valid && myForm.get('autoSelect').dirty
          }">
                  <input type="checkbox" class="custom-control-input form-control checkbox-inline" name="autoSelect" formControlName="autoSelect"> 
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Auto Select Tag?</span>
                </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" [disabled]="!isFormValid()">Add</button>
          <button type="button" class="btn btn-warning" (click)="onClose()">Cancel</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
