.kgn-welcome {
    background-color: transparent;

    &__container {
        &__text {
            font-family: 'Tangerine', serif;
            text-shadow: $text-shadow;
        
            &-1 {
                font-size: 9rem;
            }
            &-2 {
                font-size: 11rem;
            }
        }
    }
}

.kgn-header {
    &__title {
        font-family: 'Tangerine', serif;
        font-size: 3rem;
        text-shadow: $text-shadow-white;
    }
}

    