<div *ngIf="chatService.chatUsers && chatService.chatUsers.length > 0">
  <h2 class="blog-post-title">Active Users</h2>
  <br>
  <div class="sidebar-module sidebar-module-inset" id="users-scroll">
    <br>
    <h6 class="blog-post-meta" *ngFor="let chatUser of chatService.chatUsers | reverseArray">
      <a class="blog-post-meta" style="cursor: pointer" routerLinkActive="active" [routerLink]="['chat',chatUser.id]">
        <strong>{{chatUser.name}}
        </strong>
        <img *ngIf="chatUser.userObj && chatUser.userObj.profilePicInfo && chatUser.userObj.profilePicInfo.location"
          [src]="getSrc(chatUser.userObj.profilePicInfo.location)" class="img-responsive rounded-circle" style="max-height: 1.8rem;">
      </a>
    </h6>
  </div>
</div>
