<div class="sidebar-module sidebar-module-inset">
  <h6 *ngIf="chatMessage.from.id != chatMessage.from.name" class="blog-post-meta">{{chatMessage.createdAt}},
    <a class="blog-post-meta" style="cursor: pointer" routerLinkActive="active" [routerLink]="['chat',chatMessage.from.id]">
      <strong>{{chatMessage.from.name}}</strong>
      <img *ngIf="chatMessage.from.userObj && chatMessage.from.userObj.profilePicInfo && chatMessage.from.userObj.profilePicInfo.location"
        [src]="getSrc(chatMessage.from.userObj.profilePicInfo.location)" class="img-responsive rounded-circle" style="max-height: 1.8rem;">
    </a>
  </h6>
  <h6 *ngIf="chatMessage.from.id == chatMessage.from.name" class="blog-post-meta">{{chatMessage.createdAt}},
    <strong>{{chatMessage.from.name}}</strong>
  </h6>

  <p *ngIf="chatMessage.text">{{chatMessage.text}}</p>
  <a *ngIf="chatMessage.url" target="_blank" href="{{chatMessage.url}}">My Current Location</a>
  <a target="_blank" (click)="onRemove()" href="javascript:void(0)">Remove</a>
</div>
