<div *ngIf="pagedPhotos.length > 0">
  <div class="row">
    <h2 class="blog-post-title col col-sm-8 offset-sm-2 kgn-center-text">Photos</h2>
    <button type="button" class="btn btn-lg btn-secondary col-sm-1" (click)="onSlideShow()">Slide Show</button>
  </div>

  <div class="col-sm-8 offset-sm-2 kgn-center-text">

    <div [@listState]="'newPage' + photoService.eventPage" class="row row-eq-height">
      <app-photo-list-item class="col-sm-4 align-self-center" *ngFor="let photo of pagedPhotos; let i=index" [index]="i" [photo]="photo">
      </app-photo-list-item>
    </div>

  </div>

  <ng-template #popContent>
    <span [innerHTML]="photoService.showSearchCriteria()"></span>
  </ng-template>

  <div *ngIf="photoService.searchRet" class="row col offset-sm-2">
    <a placement="left" [ngbPopover]="popContent" popoverTitle="Existing Search Criteria" target="_blank" href="javascript:void(0)"
      (click)="toggleShowHideSearchCriteria()">{{toggleShowHideSearchCriteriaText}}</a>
  </div>


  <div class="col-sm-6 offset-sm-4 text-center kgn-border-pad">
    <pagination [totalItems]="photoService.bigTotalItems" [(ngModel)]="photoService.bigCurrentPage" [maxSize]="photoService.maxSize"
      class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="6" [rotate]="false" (numPages)="photoService.numPages = $event"
      (pageChanged)="pageChanged($event)"></pagination>
  </div>



  <div *ngIf="photoService.searchRet" class="row col col-sm-4 offset-sm-4">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="!photoService.searchRet" class="row col col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>


</div>

<div *ngIf="pagedPhotos.length == 0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-center">{{getNoPhotosText()}}</h1>
    </div>
  </div>
  <div *ngIf="photoService.searchRet" class="row col col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
  </div>
</div>
