<div *ngIf="pagedPhotos.length > 0">
  <div class="row col col-sm-8 offset-sm-4 kgn-center-text">
    <h2 class="blog-post-title ">Photos</h2>
    <button type="button" class="btn btn-md btn-primary" (click)="onSlideShow()">Slide Show</button>
  </div>
  <!-- https://material.angular.io/components/grid-list/overview -->
  <div class="col-sm-8 offset-sm-2 kgn-center-text">
    <!-- <mat-grid-list cols="3" gutterSize="10" rows="2" rowHeight="1:1"> -->
    <!-- <div *ngFor="let row of getRows()">
       <div [@listState]="getPagedPhotos(row).length" class="row row-eq-height"> 
      <div [@listState]="'newPage'" class="row row-eq-height">
        <app-photo-list-item  class="col-sm align-self-center" *ngFor="let photo of getPagedPhotos(row); let i=index" [index]="getIndex(i,row)"
          [photo]="photo">
        </app-photo-list-item>
      </div>
    </div> -->
    <div [@listState]="'newPage'" class="row row-eq-height">
      <app-photo-list-item class="col-sm-4 align-self-center" *ngFor="let photo of pagedPhotos; let i=index" [index]="i" [photo]="photo">
      </app-photo-list-item>
    </div>

    <!-- <ul>
      <li *ngFor="let photo of pagedPhotos" [contextMenu]="basicMenu" [contextMenuSubject]="photo">Right Click: {{photo?.title}}</li>
    </ul> -->


    <!-- </mat-grid-list> -->
  </div>

  <ng-template #popContent>
    <span [innerHTML]="photoService.showSearchCriteria()"></span>
  </ng-template>

  <div *ngIf="photoService.searchRet" class="row col offset-sm-2">
    <a placement="left" [ngbPopover]="popContent" popoverTitle="Existing Search Criteria" target="_blank" href="javascript:void(0)"
      (click)="toggleShowHideSearchCriteria()">{{toggleShowHideSearchCriteriaText}}</a>
  </div>


  <div class="col-sm-6 offset-sm-4 text-center kgn-border-pad">
    <pagination [totalItems]="photoService.bigTotalItems" [(ngModel)]="photoService.bigCurrentPage" [maxSize]="photoService.maxSize"
      class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="6" [rotate]="false" (numPages)="photoService.numPages = $event"
      (pageChanged)="pageChanged($event)"></pagination>
  </div>



  <div *ngIf="photoService.searchRet" class="row col col-sm-4 offset-sm-4">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="!photoService.searchRet" class="row col col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
  </div>


</div>

<div *ngIf="pagedPhotos.length == 0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-center">{{getNoPhotosText()}}</h1>
    </div>
  </div>
  <div *ngIf="photoService.searchRet" class="row col col-sm-4 offset-sm-5">
    <button type="button" class="btn btn-md btn-danger" (click)="onClearSearch()">Clear Search</button>
  </div>
</div>
