<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 blog-sidebar">
      <div [hidden]="!authUserService.isLoggedIn()">
        <app-chat-users></app-chat-users>
        <br>
        <br>
        <br>
        <app-chat-messages-list></app-chat-messages-list>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-error></app-error>
<app-dialog></app-dialog>
<app-search></app-search>
<app-add-tag></app-add-tag>
<app-add-person></app-add-person>
<app-comments-list></app-comments-list>
<!-- <app-comments-list [comments]="photo.comments">
  </app-comments-list> -->

