<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">Celebrate Mum And Dad</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item" routerLinkActive="active" *ngIf="authUserService.isLoggedIn()">
        <a class="nav-link" routerLink="/memories">Memories</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="authUserService.isLoggedIn()">
        <a class="nav-link" routerLink="/photos">Photos</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="authUserService.isLoggedIn()">
        <a class="nav-link" routerLink="/chat">Chat</a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="authUserService.isLoggedIn() && authUserService.isAdminUser()">
        <a class="nav-link dropdown-toggle" id="usersDropdown" data-toggle="dropdown" aria-haspopup="true" style="cursor: pointer"
          aria-expanded="false">Users</a>
        <div class="dropdown-menu" aria-labelledby="usersDropdown">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item" routerLink="/users">User List</a>
          <div class="dropdown-divider"></div>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item" routerLink="/users/user/create">Create User</a>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="authUserService.isLoggedIn() && authUserService.isAdminUser()">
        <a class="nav-link" routerLink="/auth/get-encrypted-password">Encrypted Password</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="!authUserService.isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="sign-in">Sign In</a>
      </li>

      <li *ngIf="authUserService.isLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="loggedInUserDropdown" data-toggle="dropdown" aria-haspopup="true" style="cursor: pointer"
          aria-expanded="false">
                    <img [src]="authUserService.getLoggedInUserProfilePicLocation()" class="img-responsive" style="max-height: 20px;">
                    {{authUserService.getLoggedInUserName()}}
                    </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loggedInUserDropdown">
          <a class="dropdown-item" [routerLink]="['/users','user','edit-me']">Edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/users','user','change-password']">Change<br>Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="authService.logOut()" style="cursor: pointer">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
