/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:1.5rem;
    padding:0;
    vertical-align:.2rem;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:.2rem;
    display:inline-block;
    height:.5rem;
    margin-right:.1rem;
    width:2rem;
}
/* end Password strength bar style */
