<form ngNativeValidate   [formGroup]="myForm" (ngSubmit)="onSubmit()" [ngClass]="{
        'has-danger': myForm.invalid && (myForm.dirty || myForm.touched),
        'has-success': myForm.valid && (myForm.dirty || myForm.touched)
      }">
  <div class="form-group row col col-md-8 offset-md-2" [ngClass]="{
        'has-danger': myForm.get('comment').invalid && (myForm.get('comment').dirty || myForm.get('comment').touched),
        'has-success': myForm.get('comment').valid && (myForm.get('comment').dirty || myForm.get('comment').touched)
      }">
    <label for="comment" class="col-md-4 col-form-label"><strong>Comment</strong></label>
    <div class="col-md-6">
      <textarea type="text" class="form-control" id="comment" placeholder="Comment"
        formControlName="comment"></textarea>
      <small *ngIf="myForm.get('comment').invalid" class="form-text text-muted">Enter the comment to be added.</small>
    </div>
  </div>
    <div class="form-group row col col-md-4 offset-md-6">
    <button class="btn btn-md btn-primary" type="submit" [disabled]="!isFormValid()">Add Comment</button>
  </div>
</form>
